{% extends "manage/base.html" %}
{% from "manage/_macros.html" import render_pagination %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}{{ _fsdomain('Applications') }}{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/datepicker/bootstrap-datepicker.min.css') }}">
{% endblock %}
{% block navbar %}
    <h1>{{ _fsdomain('Applications') }} of product({{ product_id }})</h1>
{% endblock %}

{% include 'manage/message.html' %}

{% block content %}
<div class="box box-primary">
    {% if product_id == 0 %}
    <div class="box-header with-border">
        <form action="{{ url_for('manage_application.' + filter) }}" method="post" class="form horizontal" role="form" name="search_form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <br class="form-group">
                <label class="label-sm">{{ _fsdomain('National/Resident ID') }}</label> {{ form.national_id }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Mobile') }}</label> {{ form.mobile }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Status') }}</label>{{ form.status }} <br>
                <label class="label-sm">{{ _fsdomain('Founded At') }}</label> {{ form.created_time_begin }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Last Updated') }}</label> {{ form.created_time_end }} &nbsp;&nbsp;
                <input type="submit" value="{{ _fsdomain('Search') }}" class="btn-xs"/>
        </form>
    </div>
    {% endif %}
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>{{ _fsdomain('National/Resident ID') }}</th>
                <th>{{ _fsdomain('Mobile') }}</th>
                <th>{{ _fsdomain('Amount') }}</th>
                <th>{{ _fsdomain('Terms') }}</th>
                <th>{{ _fsdomain('Rate/Month') }}</th>
                <th>{{ _fsdomain('Fees') }}</th>
                <th>{{ _fsdomain('Founded') }}</th>
                <th>{{ _fsdomain('Last Updated') }}</th>
                <th>{{ _fsdomain('Stauts') }}</th>
                <th>{{ _fsdomain('Action') }}</th>
            </tr>
            {% for item in list.items %}
            <tr>
                <td>{{ item.member.national_id }}</td>
                <td>{{ item.member.mobile }}</td>
                <td>{{ item.product.amount }}</td>
                <td>{{ item.product.terms }}</td>
                <td>{{ item.product.rate_per_month }}%</td>
                <td>{{ item.product.fees }} ({{ item.product.fee_payment_text }})</td>
                <td>{{ item.created_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ item.updated_time.strftime('%Y-%m-%d %H:%M') }}</td>
                {% if item.status == 1 %}
                    <td><div id="div" onclick="viewrepayment('{{ url_for('manage_application.view_repayment', application_id=item.id) }}')"><a href="javascript:void(0)">{{ item.status_text }}</a></div></td>
                    <td></td>
                {% elif item.status == 0 %}
                    <td>{{ item.status_text }}</td>
                    <td>
                        <a class="btn btn-primary" onclick="confirm_approve()" href="{{ url_for('manage_application.change_application_status', application_id=item.id, status=1) }}" >{{ _fsdomain('Approve') }}</a>
                        <a class="btn btn-primary" onclick="confirm_reject()" href="{{ url_for('manage_application.change_application_status', application_id=item.id, status=2) }}" >{{ _fsdomain('Reject') }}</a>
                    </td>
                {% elif item.status == 2 %}
                    <td>{{ item.status_text }}</td>
                    <td>
                        <a class="btn btn-primary" onclick="confirm_approve()" href="{{ url_for('manage_application.change_application_status', application_id=item.id, status=1) }}" >{{ _fsdomain('Approve') }}</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </table>
    </div>
    {% if product_id == 0 %}
        {{ render_pagination(list, 'manage_application.' + filter) }}
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ makeup_static_url('plugins/datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script>
    $(function() {
        $('#created_time_begin').datepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-cn',
            //startDate: new Date()
        })
        $('#created_time_end').datepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-cn',
            //startDate: new Date()
        })
        $("a.page").on('click',function(){
            let newUrl = $(this).attr("id");
            //alert(newUrl);
            $("form[name='search_form']").attr('action',newUrl);
            $("form[name='search_form']").submit();
        })
    })
    </script>
    <script type="text/javascript">
        function confirm_approve(){
            if (!confirm("{{ _fsdomain('Approve application?') }}")) {  window.event.returnValue = false;  }
        }
        function confirm_reject(){
            if (!confirm("{{ _fsdomain('Reject application?') }}")) {  window.event.returnValue = false;  }
        }
    </script>
    <script type="text/javascript">
       function viewrepayment(url)
       {
        window.open(url,"Repayment","fullscreen=no,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=no,resizable=no, copyhistory=no,width=650,height=500,left=200,top=300");
           //var strUrl = "<%=path %>/admin/shenqing/shenqingHuifu.jsp?id="+id;
         //  alert( "用户名："+document.form1.username.value+",密码："+document.form1.passwd.value);
           //var strUrl = "<%=path %>/shenqingHuifu.action?id="+id;
          // window.location.href=strUrl;
       }

    </script>
{% endblock %}
