{% extends "manage/base.html" %}
{% from "manage/_macros.html" import render_pagination %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}申请管理{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/datepicker/bootstrap-datepicker.min.css') }}">
{% endblock %}
{% block navbar %}
    <h1>{{ navbar_title }}</h1>
{% endblock %}

{% include 'manage/message.html' %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        <form action="{{ url_for('manage_application.' + filter) }}" method="post" class="form horizontal" role="form" name="search_form">
            {{ form.hidden_tag() }}
            {{ wtf.form_errors(form, hiddens="only") }}
            <br class="form-group">
                <label class="label-sm">{{ _fsdomain('National/Resident ID') }}</label> {{ form.national_id }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Mobile') }}</label> {{ form.mobile }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Status') }}</label>{{ form.status }} <br>
                <label class="label-sm">{{ _fsdomain('Founded At') }}</label> {{ form.created_time_begin }} &nbsp;&nbsp;
                <label class="label-sm">{{ _fsdomain('Last Updated') }}</label> {{ form.created_time_end }} &nbsp;&nbsp;
                <input type="submit" value="{{ _fsdomain('Search') }}" class="btn-xs"/>
        </form>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>{{ _fsdomain('National/Resident ID') }}</th>
                <th>{{ _fsdomain('Mobile') }}</th>
                <th>{{ _fsdomain('Amount') }}</th>
                <th>{{ _fsdomain('Term') }}</th>
                <th>{{ _fsdomain('Apr') }}</th>
                <th>{{ _fsdomain('Founded At') }}</th>
                <th>{{ _fsdomain('Last Updated') }}</th>
                <th>{{ _fsdomain('Stauts') }}</th>
            </tr>
            {% for item in list.items %}
            <tr>
                <td>{{ item.member.national_id }}</td>
                <td>{{ item.member.mobile }}</td>
                <td>{{ item.amount }}</td>
                <td>{{ item.term }}</td>
                <td>{{ item.apr }}%</td>
                <td>{{ item.created_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>{{ item.updated_time.strftime('%Y-%m-%d %H:%M') }}</td>
                <td>
                {% if item.status != 1 %}
                    <select class="input-sm" data-id="{{ item.id }}" name="status" style="&quot;width: 90px&quot;">
                        {% if item.status == 0 %}
                            <option value="0" selected >{{ _fsdomain('Pending') }}</option>
                            <option value="1" >{{ _fsdomain('Approve') }}</option>
                            <option value="2" >{{ _fsdomain('Reject') }}</option>
                        {% endif %}
                        {% if item.status == 2 %}
                            <option value="2" selected >{{ _fsdomain('Reject') }}</option>
                            <option value="1" >{{ _fsdomain('Approve') }}</option>
                        {% endif %}
                    </select>
                {% else %}
                    {{ item.status_text }}
                {% endif %}
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {{ render_pagination(list, 'manage_application.' + filter) }}
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ makeup_static_url('plugins/datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script>
    $(function() {
        $('#created_time_begin').datepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-cn',
            //startDate: new Date()
        })
        $('#created_time_end').datepicker({
            format: 'yyyy-mm-dd',
            language: 'zh-cn',
            //startDate: new Date()
        })
        $("a.page").on('click',function(){
            let newUrl = $(this).attr("id");
            //alert(newUrl);
            $("form[name='search_form']").attr('action',newUrl);
            $("form[name='search_form']").submit();
        })
        $(".box-body select").change(function(){
            var id = $(this).attr("data-id");
            var status = $(this).find("option:selected").val();
            var data = JSON.stringify({
                'id': id,
                'status': status
            });
            $.ajax({
                url: "{{ url_for('manage_application.change_application_status') }}",
                type: 'POST',
                dataType: "json",
                contentType: 'application/json; charset=UTF-8',
                data: data,
                processData: false,
                success: function (rs) {
                }
            });
        })

    })
    </script>
{% endblock %}
