<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>{{ _fsdomain('Repayments') }}</title>
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/ionicons/css/ionicons.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/bootstrap-slider/slider.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/pace/pace.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/bootstrap-switch/bootstrap-switch.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/select2/select2.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/adminlte/css/AdminLTE.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/adminlte/css/skins/skin-blue.min.css') }}">
    <link rel="stylesheet" href="{{ makeup_static_url('css/global.css') }}">
</head>
<body>
<div class="box box-primary">
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>{{ _fsdomain('Term') }}</th>
                <th>{{ _fsdomain('Payment due date') }}</th>
                <th>{{ _fsdomain('Fee') }}</th>
                <th>{{ _fsdomain('Status') }}</th>
                <th>{{ _fsdomain('Last Updated') }}</th>
            </tr>
            {% for item in list.items %}
            <tr>
                <td>{{ item.sequence }}</td>
                <td>{{ item.payment_due_date }}</td>
                <td>{{ item.fee }}</td>
                <td>{{ item.status_text }}</td>
                <td>{{ item.updated_time.strftime('%Y-%m-%d %H:%M') }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

</body>
</html>