{% extends "manage/base.html" %}
{% from "manage/_macros.html" import render_pagination %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}系统用户管理{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ makeup_static_url('plugins/bootstrap3-editable/css/bootstrap-editable.css') }}">
{% endblock %}
{% block navbar %}
    <h1>{{ _fsdomain('System Users') }}</h1>
{% endblock %}

{% block content %}
<div class="box box-primary">
    <div class="box-header with-border">
        {% include 'manage/message.html' %}
    </div>
    <div class="box-header with-border">
        <a class="btn btn-primary" href="{{ url_for('manage_system.new_user') }}" >{{ _fsdomain('Create') }}</a>
    </div>
    <div class="box-body">
        <table class="table table-bordered">
            <tr>
                <th>{{ _fsdomain('Email') }}</th>
                <th>{{ _fsdomain('Name') }}</th>
                <th>{{ _fsdomain('Last login') }}</th>
                <th>{{ _fsdomain('Number of login') }}</th>
                <th>{{ _fsdomain('Operate') }}</th>
            </tr>
            {% for item in list.items %}
            <tr>
                <td>{{ item.email }}</td>
                <td>
                    <a href="#" id="name_{{ item.id }}">{{ item.name }}</a>
                </td>
                <td>{{ item.current_login_at.strftime('%Y-%m-%d %H:%M:%S')}}</td>
                <td>{{ item.login_count }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ url_for('manage_system.user_reset_password', uid=item.id) }}" >{{ _fsdomain('Reset password') }}</a>
                    <a class="btn btn-primary" onclick="confirm_delete()" href="{{ url_for('manage_system.delete_user', uid=item.id) }}" >{{ _fsdomain('Remove') }}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    {{ render_pagination(list, 'manage_system.list_user') }}
</div>
{% endblock %}
{% block scripts %}
    <script src="{{ makeup_static_url('plugins/bootstrap3-editable/js/bootstrap-editable.min.js') }}"></script>
    <script type="text/javascript">
        function confirm_delete(){
            if (!confirm("{{ _fsdomain('Confirm')}} ？")) {  window.event.returnValue = false;  }
        }
        //turn to inline mode
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.ajaxOptions = {type: "PUT"};
        {% for item in list.items %}
            $(function () {
                $('#name_{{ item.id }}').editable({
                    type: "text",                //编辑框的类型。支持text|textarea|select|date|checklist等
                    title: "姓名",              //编辑框的标题
                    name: "name",
                    pk: '{{ item.id }}',        //primary key of record to be updated (ID in db)
                    url: '{{ url_for('manage_system.update_apr') }}',               // url to server-side script to process submitted value
                    disabled: false,             //是否禁用编辑
                    emptytext: "Null",          //空值的默认文本
                    mode: "inline",              //编辑框的模式：支持popup和inline两种模式，默认是popup
                    validate: function (value) { //字段验证
                        if (!$.trim(value)) {
                            return '不能为空';
                        }
                    }
                });
            });
        {% endfor %}
    </script>
{% endblock %}
